/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/
body {
  background: url(../images/fond/global.png) repeat;
  background-color: black;
  font:
    normal 1rem "Oranienbaum",
    serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: darkorange;
}
header,
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a[hreflang="ja"]::after {
  content: " [en japonais]";
}
/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------
    Elements
----------------------------------------------------------------------------*/

h1 {
  font:
    normal 6.25rem "Monoton",
    sans-serif;
}

h2 {
  font:
    normal 2rem "Monoton",
    sans-serif;
  margin: 0;
  text-transform: uppercase;
}
/*------------------------------------------------------------------------------
   Components
------------------------------------------------------------------------------*/

/* Header */
header {
  text-align: center;
  position: relative;
   overflow-y: scroll;
  scroll-behavior: smooth;
}

header a {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* Section Générale */
.boite {
  width: 800px;
  padding: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.images a {
  width: 200px;
  margin-top: 10px;
  margin-top: 10px;
  text-align: center;
}

a img {
  width: 100%;
  margin-bottom: 10px;
}

h2 span {
  font:
    normal 1.06rem "Oranienbaum",
    serif;
  text-transform: capitalize;
}
/* Section sports */
.sports {
  background: url(..//images/fond/bicycles.png) repeat;
  background-attachment: fixed, scroll;
}
/* Section web */
.web {
  background: url(..//images/fond/science.png) repeat;
  background-attachment: fixed, scroll;
}
.web img {
  width: 50%;
}

.web .images span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.lien_float {
  background-color: darkred;
  padding: 10px;
  text-align: center;
}

.lien_float a:hover {
  text-decoration: underline;
  color: white;
}
/* Section photographie */
.photos {
  background: url(../images/fond/fond.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed, scroll;
}

.photos img {
  width: 30%;
}

.photos .images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Bouton retour */
.haut{
width: 40px;
height: 40px;
background-color: rgba(255, 255, 255, 0.8);
border: 4px solid white;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
position: fixed;
bottom: 20px;
right: 15vw;

}

.haut:hover{
   border: 4px solid darkorange;
}